__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
*.pkl
*.pt
output/
output_debug/
output_*/
videos/
videos_*/
models/

# Video soubory kdekoli v repu – nechceme je na gitu vůbec
*.mp4
*.MOV
*.mov
*.avi
*.mkv
